body {
	font-family: Arial;
}

.bar {
	opacity: 0;

    border-bottom: 2px solid black;
    border-bottom-color: #AAAAAA;
    height: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#nav {
	opacity: 1;

    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
}

#nav li {
	color: gray;
	text-shadow: #AAAAAA 0 0 2px;
	padding: 10px;
	font-size: 20pt;
	text-align: center;
    display: inline;
}

#nav a {
	text-decoration: none;
	font-weight: bold;
	font-size: 20pt;
	color: #333333;
}

.bio {
	width: 50%;
	margin-left: auto;
	margin-right: auto;

	margin-top: 10px;
}

.biopic {
	display: inline-block;
	width: 29%;

	margin: 0;
	padding: 0;
}

.biopic img {
	width: 100%;
	vertical-align: middle;
	box-shadow: 0 0 6px #AAAAAA;
}

.biobox {
	display: inline-block;
	
	margin: 0;
	padding: 2%;

	vertical-align: middle;

	width: 66%;
}