.bioheader, .employee, .biopic img {
	width: 100%;
}

.biopic, .biobox {
	display: inline-block;
	background: #f0f0f0;
	margin:-2px;
}

.col {
	display: inline-block;
}

.biopic img, .biobox {
	vertical-align: middle;
}

.biopic {
	width: 32%;
	padding: 0;
}

.biobox {
	padding: 1.5%;
	width: 66%;
}

.col .biopic {
	width: 100%;
	padding: 0;
}

.employee .col {
	padding: 0;
	top: 50%;
	
}
.col .biobox {
	padding: 1.5%;
	width: 100%;
	top: 50%;
}


.biobox, .biopic img {
	box-shadow: 0 0 6px #AAAAAA;
}

.name {
	font-size: 20pt;
    float: left;
}

.position {
	font-size: 20pt;
	float: right;
}

.bioheader {
	clear: both;
	border-bottom: 2px solid black;
    border-bottom-color: #AAAAAA;
    margin-bottom: 0.5%;
    padding-bottom: 1%;
}

.bio {
	font-size: 13pt;
}

.float-right {
	float: right;
}

.employee {
	overflow: hidden;
}