.bioheader, .employee, .biopic img {
	width: 100%;
}

.employee {
	padding: 1% 0;
}

.biopic, .biobox {
	display: inline-block;
	margin: 0;
	background: #f0f0f0;
}

.biopic img, .biobox {
	vertical-align: middle;
}
.biopic {
	width: 29%;
	padding: 0;
}

.biobox, .biopic img {
	box-shadow: 0 0 6px #AAAAAA;
}

.biobox {
	padding: 1.5%;
	width: 66%;
}

.name {
	font-size: 20pt;
    float: left;
}

.position {
	font-size: 20pt;
	float: right;
}

.bioheader {
	clear: both;
	border-bottom: 2px solid black;
    border-bottom-color: #AAAAAA;
    margin-bottom: 0.5%;
    padding-bottom: 1%;
}

.bio {
	font-size: 13pt;
}

