body {
	font-family: Arial;
}

.logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    padding: 12px;
}

.bar {
    border-bottom: 2px solid black;
    border-bottom-color: #AAAAAA;
    height: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
}
.nav li {
	color: gray;
	padding: 10px;
	font-size: 20pt;
	text-align: center;
    display: inline;
}

.nav a {
	text-decoration: none;
	font-weight: bold;
	font-size: 20pt;
	color: #333333;
}

.revolution {
	font-size: 30pt;
	text-align: center;
	padding: 20px;
	font-weight:500;
}