html, body {
	overflow-y: auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: arial;
}

.monospace {
	font-family: "Lucida Console", Monaco, monospace;
	white-space: pre-wrap;
}

#menu {
	margin-left: auto;
	margin-right: auto;

	width: 50%;
}

#menu ul {
	padding: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}

#menu ul li {
	display: inline;
}

.gameButton {
	font-size: 8pt;
	outline: none;
	margin: 10px;
	padding: 1px 6px;
	user-select: none;

	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.menuButton {
	outline: none;
	padding: 4px 8px;
	margin: 0;

	font-weight: bold;

	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#gameText, #popcornsEaten, #recentMessages{
	margin: 10px;
}

#popcornsEaten {
	display: none;
	height: 0;
}

.verticalDivider, #mainTextPanel, #interactiveArea {
	margin: 0;
	padding: 0;
}

.verticalDivider {
	width: 2%;
	height: 50vh;

	float: left;
}

.verticalBar {
	width: 50%;
	height: 100%;

	float: left;
	border-right: 1px solid grey;
}

#mainTextPanel {
	width: 49%;
	float: left;
}

#interactiveArea {
	width: 49%;
	height: 50vh;
	float: left;
}

.popcornNodeContainer {
	width: 14.28%;
	margin: 0;
	height: 14.28%;


	float: left;
	text-align: center;
	cursor: default;

	pointer-events: none
}

.popcornNode {
	width: 10%;
	margin: 20%;
	height: 10%;
	font-size: 150%;
	user-select: none;

	pointer-events: auto;
}

#recentMessages {
	position: relative;
	width: 100%;
	overflow: initial;
}

.mainMessage, .oldMessage {
	position: absolute;
	user-select: none;
}

.mainMessage {
	color: #000000;
}

.oldMessage {
	color: #CFCFCF;
}

.itemsElement {
	margin: 10px;
	width:  50%;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	position: absolute;
	top: -9999px;
}

#questPanel {
	width: 40ch;
	height: 20em;

	padding: 3px;

	margin-left: auto;
	margin-right: auto;

	border: 1px solid black;

	text-align: center;
	white-space: pre;
}

#questButtons {
	width: 360px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#questSpells, #questItems, .questDivider {
	padding: 0;
	height: 160px;
	float:left;
	text-align: center;
}

#questSpells, #questItems {
	width: 40%;
	display: table;
	text-decoration: underline overline;
}

#questSpells, #questItems {
	text-decoration: underline overline;
}

.questDivider {
	width: 6.66%;
}