/*
This is where page-specific CSS will go

Copy and rename this file to match the other page files

For example:

example.html
example.css      <--- this one
example.js
*/



.projectLink {
	font-size: 20pt;
	text-decoration: none;
	text-shadow: #AAAAAA 0 0 2px;
	font-weight: bold;
	color: #333333;
	width: 75%;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	opacity: 0;
}