.projectLink {
	font-size: 20pt;
	text-decoration: none;
	text-shadow: #AAAAAA 0 0 2px;
	font-weight: bold;
	color: #333333;
	width: 75%;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}