body {
	font-family: Arial;
}


.fadeElement {
	opacity: 0;
}

.bar, .mainBody {
	margin-left: auto;
    margin-right: auto;
}
.bar {
	border-bottom: 2px solid black;
    border-bottom-color: #AAAAAA;
    height: 10px;

}



.mainBody {
	margin-top: 10px;
}

.activeHlink {
	text-shadow: "0 0 10px #888888, 0 0 10px #AAAAAA";
}

#nav {
    text-align: center;
    font-size: 20pt;
    padding: 0;
}
#nav ul li {
	color: gray;
	text-shadow: #AAAAAA 0 0 2px;
	padding: 10px;
    display: inline;
}

#nav ul {
	margin: 10px 0 0 0;
	padding: 0;
}

#nav a {
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}

#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 12px;
    filter: drop-shadow(0px 0px 3.5px #BBBBBB);
}


.left {
	float:left;
	display: inline-block;
}